body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

#mineList {
    margin-top: 20px;
    text-align: left;
}
